<!DOCTYPE html>
<html>
<head>
    <title><%= locals.title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.js"></script>
</head>
<body>
<div class="container">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="row">
        <div class="list-group col-4" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action" id="list-competitor-list" data-toggle="list"
               href="#list-competitor" role="tab">已报名参赛的选手</a>
            <a class="list-group-item list-group-item-action" id="list-company-list" data-toggle="list"
               href="#list-company" role="tab">参赛选手的娱乐公司</a>
            <a class="list-group-item list-group-item-action" id="list-find-list" data-toggle="list"
               href="#list-find" role="tab">查询选手详细信息</a>
        </div>
        <div class="col-8">
            <div class="tab-content">
                <table class="table table-striped tab-pane fade" role="tabpanel" id="list-competitor"
                       aria-labelledby="list-competitor-list">
                    <thead>
                    <tr>
                        <th scope="col">参赛选手编号</th>
                        <th scope="col">姓名</th>
                        <th scope="col">身高</th>
                        <th scope="col">出生日期</th>
                        <th scope="col">城市</th>
                        <th scope="col">公司</th>
                    </tr>
                    </thead>
                    <tbody id="competitor">

                    </tbody>
                </table>
                <table class="table table-striped tab-pane fade" id="list-company" role="tabpanel"
                       aria-labelledby="list-company-list">
                    <thead>
                    <tr>
                        <th scope="col">娱乐公司</th>
                    </tr>
                    </thead>
                    <tbody id="company">
                    </tbody>
                </table>
                <form class="table table-striped tab-pane fade" id="list-find" role="tabpanel"
                      aria-labelledby="list-find-list" method="post" action="/findmore">
                    <div class="form-group">
                        <label>请输入选手姓名</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <button class="btn btn-primary" type="submit">查询</button>

                </form>
                <table class="table table-striped">
                    <thead class="inform">
                    </thead>
                    <tbody id="more">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
  $('#list-competitor-list').click(function () {
    $.ajax({
      method: 'post',
      url: '/findCompetitor',
      success: function (data) {
        if (data.success) {
          for (var i of data.result) {
            $('#competitor').append(`<tr><td>${i.number}</td><td>${i.name}</td>
          <td>${i.height}</td><td>${i.birth}</td><td>${i.city}</td><td>${i.company_name}</td></tr>`)
          }
        }
      },
      beforeSend: function () {
        $('#competitor').html('')
      }
    })
  })
  $('#list-company-list').click(function () {
    $.ajax({
      method: 'post',
      url: '/findCompany',
      success: function (data) {
        if (data.success) {
          for (var i of data.name) {
            $('#company').append(`<tr><td>${i.company_name}</td></tr>`)
          }
        }
      },
      beforeSend: function () {
        $('#company').html('')
      }
    })
  })
  $('#list-find').submit(function (e) {
    e.preventDefault()
    $.ajax({
      url: '/findmore',
      method: 'post',
      data: $('#list-find').serialize(),
      beforeSend:function(){
        $('#more').html('')
      },
      success: function (data) {
        if (data.success) {
          // $('thead.inform').append(`<tr><th scope="col">参赛选手编号</th>
          //   <th scope="col">姓名</th><th scope="col">身高</th><th scope="col">出生日期</th>
          //   <th scope="col">城市</th>
          //   <th scope="col">公司</th>
          //   </tr>`)
          for (var i of data.result) {
            $('#more').append(`<tr><td>${i.number}</td><td>${i.name}</td>
          <td>${i.height}</td><td>${i.birth}</td><td>${i.city}</td><td>${i.company_name}</td><td>${i.ranking}</td></tr>`)
          }
        }
        else
          $('#more').html(data.message)
      }
    })
  })
</script>
</body>
</html>
