<!DOCTYPE html>
<html>
<head>
    <title><%= locals.title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.js"></script>
</head>
<body>
<div class="container">
    <p>Welcome to oxlxs</p>
    <div id='alr' class="alert alert-primary alert-dismissible " role="alert" aria-label="close">
    </div>
    <div class="list">
        <table class="table" id="name_number">
            <thead>
            <tr>
                <th scope="col">正在参赛的选手编号</th>
                <th scope="col">姓名</th>
                <th scope="col">所得票数</th>
                <th scope="col">公司</th>
            </tr>
            </thead>
            <tbody id="number">
            </tbody>
        </table>
        <div class="input-group">
            <form class="poll" method="post" action="/out">
                <span class="input-group-text">请输入公司名称</span>
                <input type="text" name="company_name">
                <button type="submit">淘汰</button>
            </form>
        </div>
    </div>
</div>
<script>
  $.ajax({
    url: '/getpoll',
    method: 'post',
    success: function (data) {
      for (var i of data.message)
        $('table.table').append(`<tr><td>${i.number}</td><td>${i.name}</td>
          <td>${i.poll}</td><td>${i.company_name}</td></tr>`)
    }
  })
  form=$('form.poll')
  form.submit(function (e) {
    e.preventDefault()
    var ale = $('#alr')
    ale.slideUp()
    $.ajax({
      method: 'post',
      url: '/out',
      data: form.serialize(),
      success: function (data) {
        if (data.success) {
          ale.addClass('alert-success')
          ale.removeClass('alert-danger')
          return ale.html(data.message)
        }
        ale.removeClass('alert-success')
        ale.addClass('alert-danger')
        ale.html(data.message)
      },
      complete: function () {
        ale.slideDown()
      }
    })
  })
</script>
</body>
</html>
