<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.js"></script>
</head>
<body>
<div class="container">
    <h1><%= title %></h1>
    <p>Welcome to oxlxs</p>
    <div id='alr' class="alert alert-primary alert-dismissible " role="alert" aria-label="close">
    </div>
    <div class="list-group col-4" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action" id="list-competitor-list" data-toggle="list"
           href="#poll" role="tab">查看参赛选手</a>
    </div>
    <div class="fade" aria-labelledby="list-competitor-list" id="poll">
        <table class="table" id="name_number">
            <thead>
            <tr>
                <th scope="col">正在参赛的选手编号</th>
                <th scope="col">姓名</th>
            </tr>
            </thead>
            <tbody id="number">
            </tbody>
        </table>
        <div class="input-group">
            <form class="poll" method="post" action="/poll">
                <span class="input-group-text">请输入选手编号</span>
                <input type="text" name="number">
                <button type="submit">pick!</button>
            </form>
            <!--<form action="/poll" id="poll" method="post">-->
                <!--<input type="number" class="form-control" name="number">-->
                <!--<button type="submit">pick!</button>-->
            <!--</form>-->
        </div>
    </div>
</div>
<script>

  $("#list-competitor-list").click(function () {
    $.ajax({
      method: 'post',
      url: '/number',
      success: function (data) {
        if (data.success) {
          for (var i in data.number) {
            $('#number').append(`<tr><td>${data.number[i].number}</td><td>${data.name[i].name}</td></tr>`)
          }
        }
      },
      beforeSend: function () {
        $('#number').html('')
      }
    })
  })
  var form =$('form.poll')
  form.submit(function (e) {
    e.preventDefault()
    var ale = $('#alr')
    ale.slideUp()
    $.ajax({
      method: 'post',
      url: '/poll',
      data: form.serialize(),
      success: function (data) {
        if (data.success) {
          ale.addClass('alert-success')
          ale.removeClass('alert-danger')
          return ale.html(data.message)
        }
        ale.removeClass('alert-success')
        ale.addClass('alert-danger')
        ale.html(data.message)
      },
      complete: function () {
        ale.slideDown()
      }
    })
  })
</script>
</body>
</html>
