<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.js"></script>
</head>
<body>
<div class="container">
    <h1><%= title %></h1>
    <p>Welcome to oxlxs</p>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">正在参加比赛的选手</h5>
            <p class="card-text" id="number"></p>
        </div>
    </div>
</div>
<script>
    $.ajax

  $('#form').submit(function (e) {
    e.preventDefault()
    // if(confirm("确认吗"))
    //   alert($('#num').val())
    // else {
    //   alert("meiyouqueren")
    //}
    var ale = $('div.alert')
    ale.slideUp()
    $.ajax({
      method: 'get',
      url: '/',
      data: $('#form').serialize(),
      beforeSend: function(){

      },
      error: function(){

      },
      success: function (data) {//data接收json
        if(data.success){
          ale.addClass('alert-success')
          ale.removeClass('alert-danger')
          return ale.children('#child').html("成功啦")//alert
        }
        ale = $('div.alert #child')
        ale.removeClass('alert-success')
        ale.addClass('alert-danger')
        ale.html(data.error)//更改内容
      },
      complete: function () {
        ale.slideDown()
      }
    }).done().fail().always()
  })
</script>
</body>
</html>
